.footer {
    width: 100%;
}
.footer__bottom {
    padding: 25px 0px;
}
.footer__container {
    display: flex;
    align-items: center;
}
.footer__copy {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__combo {
    display: flex;
    align-items: center;
    flex: 0 1 25%;
}
.footer__combo:not(:last-child) {
    padding: 0px 20px 0px 0px;
}
.footer__text {
    font-size: 16px;
    padding: 0px 0px 0px 10px;
}
@media (max-width: 575px) {
    .footer__copy {
        flex-direction: column;
        padding: 0px 0px 0px 25px;
        align-items: flex-start;
    }
    .footer__combo:not(:last-child) {
        margin: 0px 0px 20px 0px;
    }
}